.clm {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 24rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btns button.rating {
  font: inherit;
  font-weight: bold;
  background: #007bff;
  border: 1px solid #007bff;
  padding: 0.5rem 1.5rem;
  color: rgb(247, 242, 242);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.btns button.updateProfile {
  font: inherit;
  font-weight: bold;
  background: #0a4481;
  border: 1px solid #007bff;
  padding: 0.5rem 1.5rem;
  color: rgb(247, 242, 242);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 24rem;
}

.btns button.logout {
  font: inherit;
  font-weight: bold;
  background: #f9fafc;
  border: 1px solid #007bff;
  padding: 0.5rem 1.5rem;
  color: #007bff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.btns button:focus {
  outline: none;
}
.btns button:hover,
.btns button:active {
  color: #007bff;
  background: white;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

@media only screen and (max-width: 300px) {
  .btns {
    width: 10rem;
  }
}
